@{
    ViewData["Title"] = "FAQ";
}

<h1>FAQ</h1>
<hr/>

<div class="accordion" id="faqExample">
    <div class="card">
        <div class="card-header p-2" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    Q: Is my Netflix-account-data saved anywhere?
                </button>
            </h5>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#faqExample">
            <div class="card-body">
                <b>No!</b> Your credentials for your Netflix account are never saved anywhere on FlixStats. They are only used <b>once</b> for the login on Netflix.com
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header p-2" id="headingTwo">
            <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Q: The website doesn't display all my watched TV shows and movies. Why?
                </button>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#faqExample">
            <div class="card-body">
                It is possible that you watched a specific TV show or movie in another country than the USA and that this show or movie isn't available in the USA.
                And because this website is hosted in the USA, Netlix won't display the shows or movies in the viewinghistory that aren't available there.
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header p-2" id="headingThree">
            <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Q: After some time, I wanted to see my results, but it is indicated that there are no results. Why?
                </button>
            </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#faqExample">
            <div class="card-body">
                Due to the large amount of data and your privacy, FlixStats usually deletes your results after 12 hours. <br/>
                But if you want to save your results, you can head to the <i>Share / export</i>-section and click the button <i>Keep results</i>. Your data is then saved forever.
            </div>
        </div>
    </div>
</div>