@model FlixStats.Models.ViewModels.NetflixStatsViewModel

<canvas id="weekDailyWatchedBarChart" role="img">
    <p>Your browser sadly does not support the canvas element. This means no charts can be displayed :(</p>
</canvas>