@model FlixStats.Models.ViewModels.NetflixStatsViewModel

<div class="chart-container" style="height: @(Model.ViewedHoursPerDayChart.Data.Labels.Count * 5)px">
    <canvas id="timePerSerieBarChart" role="img">
        <p>Your browser sadly does not support the canvas element. This means no charts can be displayed :(</p>
    </canvas>
</div>