@model NetflixStatizier.Models.ViewModels.NetflixStatsViewModel

<div class="per-day-sub" id="per-day-sub">
    Tap on a bar for detailed information
</div>

<button class="btn btn-primary" id="per-date-reset-zoom">Reset zoom</button>

<canvas id="timePerDateBarChart" height="@(Model.ViewedHoursPerDayChart.Data.Labels.Count * 3.5)" role="img">
    <p>Your browser sadly does not support the canvas element. This means no charts can be displayed :(</p>
</canvas>