@model NetflixStatizier.Models.ViewModels.NetflixStatsViewModel

<div class="dropdown">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Export results as...
    </a>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" asp-controller="Stats" asp-action="Export" asp-route-identifier="@Model.Identifier" asp-route-format="json">JSON</a>
        <a class="dropdown-item" asp-controller="Stats" asp-action="Export" asp-route-identifier="@Model.Identifier" asp-route-format="xml">XML</a>
        <a class="dropdown-item" asp-controller="Stats" asp-action="Export" asp-route-identifier="@Model.Identifier" asp-route-format="csv">CSV</a>
    </div>
</div>

<button type="button" class="btn btn-secondary">Save results</button>