@model FlixStats.Models.InputModels.NetflixAccountInputModel
@{
    ViewData["Title"] = "Home";
}

<form asp-controller="Home" asp-action="Load">
    <div id="form-horizontal">
        <h1>Start search</h1>
        <hr/>
        <button type="button" class="btn btn-sm btn-outline-primary" data-toggle="popover" title="Your Netflix account data..." data-content="isn't saved anywhere. It is only used ONCE for the retrieval of your viewing activity">What happens to my data?</button>
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="NetflixEmail"></label>
            <input asp-for="NetflixEmail" class="form-control" />
            <span asp-validation-for="NetflixEmail" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="NetflixPassword"></label>
            <input asp-for="NetflixPassword" class="form-control" />
            <span asp-validation-for="NetflixPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="NetflixProfileName"></label>
            <input asp-for="NetflixProfileName" class="form-control" />
            <span asp-validation-for="NetflixProfileName" class="text-danger"></span>
        </div>

        <input type="submit" value="Load Stats" class="btn btn-primary" />
    </div>
</form>

<partial name="_LoadingModalPartial" />

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />

    <script>
        $("form").submit(() => {
            if ($("form").valid()) {
                $("#loadMe").modal({
                    backdrop: "static", //remove ability to close modal with click
                    keyboard: false, //remove option to close with keyboard
                    show: true //Display loader!
                });
            }
        });
    </script>
}