@model NetflixStatsModel

<h2>You have wasted a total of @(Model.TotalViewedTime.Hours)h @(Model.TotalViewedTime.Minutes)m watching TV shows and movies on Netflix.</h2>

<div class="container">
    <canvas id="timePerSerieBarChart"></canvas>
</div>
<div class="container">
    <canvas id="timePerDateBarChart"></canvas>
</div>

@section Scripts
{
    <script src="~/lib/chartsjs/Chart.bundle.min.js"></script>
    <script>
        @Html.Raw(Model.ViewedHoursPerSerieChart.CreateChartCode("timePerSerieBarChart"))
        @Html.Raw(Model.ViewedHoursPerDayChart.CreateChartCode("timePerDateBarChart"))
    </script>
}