@model NetflixStatsModel

<h2>You have wasted a total of @(Model.TotalViewedTime.Hours)h @(Model.TotalViewedTime.Minutes)m series and movies on Netflix.</h2>

<div class="container">
    <div id="overviewTimeChart"></div>
</div>

@section Scripts
    {
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script type="text/javascript">
        google.charts.load('current', { packages: ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var jsonString = @Html.Raw(Model.ViewedHoursPerSerieJson);
            var data = new google.visualization.DataTable(jsonString);

            var options = {
                title: "Overview",
                width: 800,
                height: 1000
            };

            var chart = new google.visualization.BarChart(document.getElementById("overviewTimeChart"));
            chart.draw(data, options);
        }
    </script>
}