@model NetflixStatsModel

<div class="container">
    <div id="overviewTimeChart"></div>
</div>

@section Scripts
    {
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script type="text/javascript">
        google.charts.load('current', { packages: ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            jsonString = @Html.Raw(Model.ViewedHoursPerSerieJson);
            data = new google.visualization.DataTable(jsonString);

            var options = {
                title: "Overview time / series",
                width: 600,
                height: 400,
                bar: {groupWidth: "95%"}
            };

            chart = new google.visualization.BarChart(document.getElementById("overviewTimeChart"));
            chart.draw(data, options);
        }
    </script>
}