@{
    ViewData["Title"] = "No results";
}

<h1>Whoops... No results found</h1>
<p>For this identifier were no results found. Maybe you mistyped the address or forgot to click the <i>Keep results</i>-button (because the results are deleted after 12 hours without stopover by you).</p>

<p><span class="font-weight-bold">What should I do now?</span> Just head over to <a asp-controller="Home" asp-action="Index">the startpage</a> and retype your Netflix-credentials</p>