@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity
@model NetflixAccountModel
@inject SignInManager<IdentityUser> SignInManager

@{
    ViewData["Title"] = "Home";
}

<form asp-controller="Results" asp-action="GetStats">
    <div id="form-horizontal">
        <h2>Netflix Account</h2>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="NetflixEmail"></label>
            <input asp-for="NetflixEmail" class="form-control" />
            <span asp-validation-for="NetflixEmail" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="NetflixPassword"></label>
            <input asp-for="NetflixPassword" class="form-control" />
            <span asp-validation-for="NetflixPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="NetflixProfileName"></label>
            <input asp-for="NetflixProfileName" class="form-control" />
            <span asp-validation-for="NetflixProfileName" class="text-danger"></span>
        </div>

        <input type="submit" value="Calculate Stats" class="btn btn-primary" />
    </div>
</form>

@if (!SignInManager.IsSignedIn(User))
{
    <button type="button" asp-controller="Home" asp-action="SaveNetflixAccount" value="Save account details" ></button>
}

@section Scripts
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}