@model NetflixAccountModel


<h2>Netflix Account</h2>
<form asp-action="GetStats">

    <label asp-for="NetflixEmail"></label>
    <input asp-for="NetflixEmail" />
    <span asp-validation-for="NetflixEmail"></span>

    <label asp-for="NetflixPassword"></label>
    <input asp-for="NetflixPassword" />
    <span asp-validation-for="NetflixPassword"></span>

    <input type="submit" />
</form>