@using Microsoft.AspNetCore.Authorization
@model NetflixAccountModel
@inject IAuthorizationService AuthorizationService



<form asp-action="GetStats" asp-controller="Results">
    <div class="form-horizontal">
        <h2>Netflix Account</h2>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="NetflixEmail"></label>
            <input asp-for="NetflixEmail" class="form-control" />
            <span asp-validation-for="NetflixEmail" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="NetflixPassword"></label>
            <input asp-for="NetflixPassword" class="form-control" />
            <span asp-validation-for="NetflixPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="NetflixProfileName"></label>
            <input asp-for="NetflixProfileName" class="form-control" />
            <span asp-validation-for="NetflixProfileName" class="text-danger"></span>
        </div>

        <input type="submit" value="Calculate Stats" />
    </div>
</form>

@if (User.Identity.IsAuthenticated)
{
    <input type="button"/>
}